<div>
    <form #presetForm="ngForm">
        <div class="col col-lg-6">
            <div class="row">

                <div class="btn-group form-group" data-toggle="buttons">

                    <button class="btn btn-primary" [ngClass]="{'active': preset.technology==='Kemper'}" (click)="setTechnology('Kemper')"> Kemper</button>
                    <button class="btn btn-primary" [ngClass]="{'active': preset.technology==='Axe-Fx II'}" (click)="setTechnology('Axe-Fx II')"> Axe-Fx II</button>
                    <button class="btn btn-primary" [ngClass]="{'active': preset.technology==='Helix'}" (click)="setTechnology('Helix')"> Helix</button>
                    <button class="btn btn-primary" [ngClass]="{'active': preset.technology==='Helix'}" (click)="setTechnology('Ax8')"> Ax8</button>
                </div>

                <div class="form-group">
                    <label for="presetName">Preset name:</label>
                    <div>
                        <input type="text" id="presetName" required name="presetName" [(ngModel)]="preset.name" #presetName="ngModel">
                    </div>
                </div>
                <!--
                <div class="form-group row">
                    <label for="description">Technology:*</label>
                    <div>
                        <select name="technology" class="form-control" id="technology" [(ngModel)]="preset.technology" required #technology="ngModel">
                            <option *ngFor="let technology of technologies" [value]="technology" >{{technology}}</option>
            </select>
                        <div *ngIf="technology.errors && technology.touched" class="alert alert-danger">
                            <div [hidden]="!technology.errors.required">Technology is required</div>
                        </div>
                    </div>
                </div>
            -->


                <div class="form-group">
                    <label for="amp" class="col-form-label">Amplifier:</label>
                    <div>
                        <input type="text" required class="form-control" [(ngModel)]="preset.amp" name="amp" id="amp">
                    </div>
                </div>

                <div class="form-group">
                    <label for="cabinet">Cabinet:</label>
                    <div>
                        <input type="text" required class="form-control" [(ngModel)]="preset.cabinet" name="cabinet" id="cabinet">
                    </div>
                </div>

                <div *ngIf="connectedToStripe">
                    <div class="form-group row">
                        <div class="col-lg-2">
                            <label for="price">Amount:</label>
                            <div>
                                <input type="text" class="form-control" [(ngModel)]="preset.price" name="price" id="price">
                            </div>
                        </div>

                        <div class="col-lg-2">
                            <label for="currency">Currency:</label>
                            <div>
                                <select name="currency" class="form-control" id="currency" [(ngModel)]="preset.currency" #currency="ngModel">
                                    <option *ngFor="let currency of currenceis" [value]="currency" >{{currency}}</option>
                            </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="!connectedToStripe">
                    <p>If you want to sell presets, you need to connect your Stripe account to the Stripe account of Guitar
                        Tone Finder.</p>
                    <p>You can connect and set up your Stripe account by clicking on the button below.</p>
                    <a class="stripe-connect" (click)="redirectToStripe()"><span>Connect with Stripe</span></a>
                    <div class="row">
                        <div class="col-lg-3">
                            <label for="price">Amount:</label>
                            <div>
                                <input readonly type="number" class="form-control" [(ngModel)]="preset.price" name="price" id="price">
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <label for="currency">Currency:</label>
                            <div>
                                <input readonly type="text" class="form-control" [(ngModel)]="preset.currency" name="currency" id="currency">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="description">Preset file (max 3MB):</label>
                    <div>{{preset.originalPerestFileName}}</div>
                    <button (click)="presetInput.click()" class="btn btn-default">Choose file</button>
                    <span style="visibility: hidden; position: absolute; overflow: hidden; width: 0px; height:0px;border:none;margin:0; padding:0">
                         <input type="file" #presetInput ng2FileSelect name="presetFile" [uploader]="presetUploader" />
                    </span>
                    <table class="table">
                        <tr *ngFor="let item of presetUploader.queue">
                        </tr>
                    </table>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': presetUploader.progress + '%' }"></div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="description">Mp3 sample (max 3MB):</label>
                    <div>{{preset.originalAudoFileName}}</div>
                    <button (click)="mp3Input.click()" class="btn btn-default">Choose file</button>
                    <span style="visibility: hidden; position: absolute; overflow: hidden; width: 0px; height:0px;border:none;margin:0; padding:0">
                         <input type="file" #mp3Input ng2FileSelect name="file" [uploader]="uploader" />
                    </span>
                    <table class="table">
                        <tr *ngFor="let item of uploader.queue">
                        </tr>
                    </table>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="description">Image (max 1MB):</label>
                    <div>{{preset.originalImageFileName}}</div>
                    <button (click)="imageInput.click()" class="btn btn-default">Choose file</button>
                    <span style="visibility: hidden; position: absolute; overflow: hidden; width: 0px; height:0px;border:none;margin:0; padding:0">
                         <input type="file" #imageInput ng2FileSelect name="file" [uploader]="imageUploader" />
                    </span>
                    <table class="table">
                        <tr *ngFor="let item of imageUploader.queue">
                        </tr>
                    </table>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': imageUploader.progress + '%' }"></div>
                    </div>
                </div>

            </div>

            <button class="btn btn-secondary" (click)="optional=!optional;">Optional fields</button>
            <!--
            <div class="form-group row" *ngIf="optional">
                <label for="ampChannel">Amplifier channel:</label>
                <div>
                    <input type="text" class="form-control" [(ngModel)]="preset.ampChannel" name="ampChannel" id="ampChannel">
                </div>
            </div>
        -->
            <div class="form-group row" *ngIf="optional">
                <label for="band">Band/Artist:</label>
                <div>
                    <input type="text" class="form-control" [(ngModel)]="preset.author" name="author" id="author">
                </div>
            </div>

            <div class="form-group row" *ngIf="optional">
                <label for="album">Album:</label>
                <div>
                    <input type="text" class="form-control" [(ngModel)]="preset.album" name="album" id="album">
                </div>
            </div>
            <div class="form-group row" *ngIf="optional">
                <label for="band">Song Title:</label>
                <div>
                    <input type="text" class="form-control" [(ngModel)]="preset.songTitle" name="songTitle" id="songTitle">
                </div>
            </div>
            <div class="form-group row" *ngIf="optional">
                <label for="youtubeUrl">YouTube url:</label>
                <div>
                    <input type="text" class="form-control" [(ngModel)]="preset.youtubeUrl" name="youtubeUrl" id="youtubeUrl">
                </div>
            </div>

            <div class="form-group row" *ngIf="optional">
                <label for="michrophone">Michrophone:</label>
                <div>
                    <input type="text" class="form-control" [(ngModel)]="preset.michrophone" name="michrophone" id="michrophone">
                </div>
            </div>

            <div class="form-group row" *ngIf="optional">
                <label for="michrophonePosition">Michrophone Position:</label>
                <div>
                    <input type="text" class="form-control" [(ngModel)]="preset.michrophonePosition" name="michrophonePosition" id="michrophonePosition">
                </div>
            </div>

            <div class="form-group" *ngIf="optional">
                <label for="description">Description</label>
                <textarea type="text" class="form-control" [(ngModel)]="preset.description" name="description" id="description" rows="3"></textarea>
            </div>

            <button type="submit" class="btn btn-primary" [disabled]="!presetForm.form.valid" (click)="save()">Upload</button>
        </div>
    </form>
</div>

<div>
    <modal #myModal>
        <modal-body>
            Uploaded
        </modal-body>
    </modal>
</div>