<div>
    <form #presetForm="ngForm">
        <div class="row">
            <div class="col col-lg-6">
                <div class="form-group row">
                    <label class="col-lg-2" for="presetName">Preset name:*</label>
                    <div class="col-lg-10">
                        <input type="text" id="presetName" required name="presetName" [(ngModel)]="preset.name" #presetName="ngModel">
                    </div>

                </div>
                <div class="form-group row">
                    <label for="description" class="col-lg-2">Technology:*</label>
                    <div class="col-lg-10">
                        <select name="technology" class="form-control" id="technology" [(ngModel)]="preset.technology" required #technology="ngModel">
                            <option *ngFor="let technology of technologies" [value]="technology" >{{technology}}</option>
            </select>
                        <div *ngIf="technology.errors && technology.touched" class="alert alert-danger">
                            <div [hidden]="!technology.errors.required">Technology is required</div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="amp" class="col-lg-2 col-form-label">Amplifier:*</label>
                    <div class="col-lg-10">
                        <input type="text" required class="form-control" [(ngModel)]="preset.amp" name="amp" id="amp">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-2" for="ampChannel">Amplifier channel:</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" [(ngModel)]="preset.ampChannel" name="ampChannel" id="ampChannel">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="cabinet" class="col-lg-2">Cabinet:*</label>
                    <div class="col-lg-10">
                        <input type="text" required class="form-control" [(ngModel)]="preset.cabinet" name="cabinet" id="cabinet">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-2" for="band">Band/Artist:</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" [(ngModel)]="preset.author" name="author" id="author">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="album" class="col-lg-2">Album:</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" [(ngModel)]="preset.album" name="album" id="album">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="band" class="col-lg-2">Song Title:</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" [(ngModel)]="preset.songTitle" name="songTitle" id="songTitle">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="youtubeUrl" class="col-lg-2">YouTube url:</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" [(ngModel)]="preset.youtubeUrl" name="youtubeUrl" id="youtubeUrl">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="michrophone" class="col-lg-2">Michrophone:</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" [(ngModel)]="preset.michrophone" name="michrophone" id="michrophone">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="michrophonePosition" class="col-lg-2">Michrophone Position:</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" [(ngModel)]="preset.michrophonePosition" name="michrophonePosition" id="michrophonePosition">
                    </div>
                </div>

            </div>
            <div class="col col-lg-6">

                <div class="form-group">
                    <label for="description">Preset/Profile file:*</label>
                    <div>{{preset.originalPerestFileName}}</div>
                    <input type="file" ng2FileSelect name="presetFile" [uploader]="presetUploader" />
                    <table class="table">
                        <tr *ngFor="let item of presetUploader.queue">
                        </tr>
                    </table>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': presetUploader.progress + '%' }"></div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="description">Mp3 sample:</label>
                    <div>{{preset.originalAudoFileName}}</div>
                    <input type="file" ng2FileSelect name="file" [uploader]="uploader" />
                    <table class="table">
                        <tr *ngFor="let item of uploader.queue">
                        </tr>
                    </table>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="description">Image:</label>
                    <div>{{preset.originalImageFileName}}</div>
                    <input type="file" ng2FileSelect name="image" [uploader]="imageUploader" />
                    <table class="table">
                        <tr *ngFor="let item of imageUploader.queue">
                        </tr>
                    </table>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': imageUploader.progress + '%' }"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea type="text" class="form-control" [(ngModel)]="preset.description" name="description" id="description" rows="3"></textarea>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="!presetForm.form.valid" (click)="save()">Save</button>
    </form>
</div>

<div>
    <modal #myModal>
        <modal-body>
            Saved
        </modal-body>
    </modal>
</div>