<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/presets">Guitar Tone Finder</a>
    </div>
    <search-field></search-field>
    <ul class="nav navbar-nav">
      <li><a routerLink="/upload" *ngIf="CustomAuthService.loggedIn()">Upload</a></li>
      <li><a (click)="this.modal.open();" *ngIf="!CustomAuthService.loggedIn()">Upload</a></li>
      <li class="dropdown" *ngIf="CustomAuthService.loggedIn()">
        <a href="#" data-toggle="dropdown" class="dropdown-toggle">My presets<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a routerLink="/uploadedpresets" routerLinkActive="active">uploads</a></li>
          <li><a routerLink="/downloadedpresets" routerLinkActive="active">downloads</a></li>
        </ul>
      </li>
      <li><a routerLink="/sell">Sell</a></li>
      <li><a routerLink="/contact">Contact</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a (click)="this.modal.open();" *ngIf="!CustomAuthService.loggedIn()"><span class="glyphicon glyphicon-log-in"></span>Sign up</a></li>
      <li><a (click)="login()" *ngIf="!CustomAuthService.loggedIn()"><span class="glyphicon glyphicon-log-in"></span>Login with Google</a></li>
      <li><a (click)=CustomAuthService.logout() *ngIf="CustomAuthService.loggedIn()">Log Out</a></li>
    </ul>
  </div>
</nav>

<div class="col-sm-12">
  <router-outlet></router-outlet>
</div>
<div>
  <p class="text-center pagination-centered">© 2017 Guitar Tone Finder <a routerLink="/terms-and-conditions">Terms and conditions</a></p>
</div>

<modal #loginModal>
  <modal-body>
    <button class="btn btn-primary" (click)="login()" *ngIf="!CustomAuthService.loggedIn()">
        Login with Google
      </button>
      <form id="signupform" role="form"></form>
      <div class="checkbox">
          <label><input type="checkbox" [(ngModel)]="acceptTerms" value="">I accept <a routerLink="/terms">Terms and Conditions</a></label>
        </div>
    <button class="btn btn-primary" [disabled]="!acceptTerms" (click)="signup()" *ngIf="!CustomAuthService.loggedIn()">
          Sign up with Google
        </button>
  </modal-body>
</modal>