<div class="container">
  <nav class="navbar navbar-default">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/presets">{{title}}</a>
    </div>
    <ul class="nav navbar-nav">
      <li>
        <a routerLink="/profile" *ngIf="CustomAuthService.loggedIn()" routerLinkActive="active">Uploaded presets</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
      <button class="loginBtn loginBtn--google" (click)="redirect()" *ngIf="!CustomAuthService.loggedIn()">
        Login with Google
      </button>
      </li>
      <li>
        <button class="loginBtn loginBtn--google" (click)=CustomAuthService.logout() *ngIf="CustomAuthService.loggedIn()">Log Out</button>
      </li>
    </ul>
  </nav>
  <div class="col-sm-12">
    <router-outlet></router-outlet>
  </div>

</div>