<h1>Terms</h1>

<p>
    By accessing this web site, you are agreeing to be bound by these web site Terms and Conditions of Use, all applicable laws
    and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree
    with any of these terms, you are prohibited from using or accessing this site. The materials contained in this web site
    are protected by applicable copyright and trade mark law.
</p>

<h1>Making Marketplace Purchases.</h1>

<p>
    Guitar Tone Finder provides the Marketplace as a location for buyers to locate and purchase digital products from sellers
    that are independent of Guitar Tone Finder. When you make a purchase through the Marketplace, you are purchasing the
    product from the independent seller and not from Guitar Tone Finder. You agree that Guitar Tone Finder is not an agent
    for you or for the seller and has no authority to act on your or on a seller’s behalf. Guitar Tone Finder reserves the
    right, at its sole discretion, to change, add or remove portions of this Terms and Conditions, at any time.
</p>

<h1>Use License</h1>
<p>
    After purchasing a digital product on Guitar Tone Finder, permission is granted to temporarily download of the materials
    on the web site for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer
    of title. You are paying for the rights of using these digital products for yourself only, you are strictly forbidden
    from sharing them or making them available online for free or for resale. This license shall automatically terminate
    if you violate any of these restrictions and may be terminated by Guitar Tone Finder at any time. Upon terminating your
    viewing of these materials or upon the termination of this license, you must destroy any downloaded materials in your
    possession.
</p>

<h1> Site Terms of Use Modifications </h1>

<p>
    Guitar Tone Finder may revise these terms of use for its web site at any time without notice. By using this web site you
    are agreeing to be bound by the then current version of these Terms and Conditions of Use. It is your responsibility
    to check this Terms and Conditions each time before using the Site.
</p>

<h1>Governing Law </h1>

<p>
    Guitar Tone Finder may revise these terms of use for its web site at any time without notice. By using this web site you
    are agreeing to be bound by the then current version of these Terms and Conditions of Use. OUR CONTINUED USE OF THE MARKETPLACE
    FOLLOWING ANY SUCH REVISIONS TO THE TERMS AND CONDITIONSOR SUCH POICIES AND RULES WILL CONSTITUTE YOUR ACCEPTANCE OF
    SUCH CHANGES, INCLUDING THE ARBITRATION CLAUSE AND CLASS ACTION WAIVER DESCRIBED IN “GOVERNING LAW AND ARBITRATION” SECTION
    BELOW TO RESOLVE ANY DISPUTES WITH Guitar Tone Finder (EXCEPT FOR MATTERS THAT MAY BE TAKEN TO SMALL CLAIMS COURT). IF
    YOU DO NOT AGREE TO ANY SUCH CHANGES, DO NOT CONTINUE TO USE THE MARKETPLACE AND ASSOCIATED SERVICES.
</p>

<h1>Customer Limitations</h1>

<p>As a user of Guitar Tone Finder, you agree that you will not:</p>
<p>Perform any action that will intentionally result in Guitar Tone Finder charging an incorrect amount for an order</p>
<p>Circumventthe security of the website in any way Allow an error in the bots (such as receiving an extra item) to occur without
    notifying Guitar Tone Finder</p>
<p> Perform a charge back in any form after purchasing items from Guitar Tone Finder and successfully receiving them</p>

<h1>Refunds</h1>

<p>Refunds will be provided in the following instances only: </p>
<p>- When, due to site error, the items a customer ordered are incapable of being delivered </p>
<p>When, due to site error, the items a customer ordered were vastly different than described.</p>
<p>The eligibility of an order for a refund is entirely up to the opinion of Guitar Tone Finder.</p>

<h1>Payment and currency disclaimer</h1>

<p>
    All payments are managed by a third party payment gateway, Stripe. (www.stripe.com) Stripe does not provide converting transactions
    prices, for example if you are in USA, and the seller specifies the price in EUR, it will not show the equivalent in
    USD. All transactions processed on Guitar Tone Finder will be charged to the customer in the equivalent amount in their
    host countries currency per the price. All currency conversions and their calculations through payment are made via Stripe.
</p>

<h1>Selling items</h1>

<p>
    When you sell items, you agree that Guitar Tone Finder charges transaction fee for every successfull purchase. The amount
    of transaction fee is specified in the pricing site of Guitar Tone Finder. As described above, all payments are managed
    by Stripe. If you want to sell items on Guitar Tone Finder, you need to create a Stripe account and connect it to the
    Stripe account of Guitar Tone Finder. You will receive payouts to your Stripe account after successfull purchases.
</p>

<h1>Privacy</h1>

<p>
    Customers are responsible for entering the correct details before making the payment. Guitar Tone Finder never stores information
    about credit cards. Guitar Tone Finder will never share your contact or payment details with an outside source except
    as required by law, as required for business operations, or to send official Guitar Tone Finder promotional information.
    In such an event, an opt-out link will always be present to refuse any further promotional material from Guitar Tone
    Finder.
</p>

<h1>Site Bans </h1>

<p>
    Guitar Tone Finder reserves the right to remove a user's access to the website for any reason. Guitar Tone Finder is not
    obligated to provide the reason for denial of access to the user.
</p>
