<h1>Making Marketplace Purchases.</h1>

<p>
    Guitar Tone Finder provides the Marketplace as a location for buyers to locate and purchase digital products from sellers
    that are independent of Guitar Tone Finder. When you make a purchase through the Marketplace, you are purchasing the
    product from the independent seller and not from Guitar Tone Finder. You agree that Guitar Tone Finder is not an agent
    for you or for the seller and has no authority to act on your or on a seller’s behalf. Guitar Tone Finder reserves the
    right, at its sole discretion, to change, add or remove portions of this Terms and Conditions, at any time. It is your
    responsibility to check this Terms and Conditions each time before using the Site. Your continued use of the Site following
    the posting of changes will mean that you accept and agree to the changes. YOUR CONTINUED USE OF THE MARKETPLACE FOLLOWING
    ANY SUCH REVISIONS TO THE TERMS AND CONDITIONSOR SUCH POICIES AND RULES WILL CONSTITUTE YOUR ACCEPTANCE OF SUCH CHANGES,
    INCLUDING THE ARBITRATION CLAUSE AND CLASS ACTION WAIVER DESCRIBED IN “GOVERNING LAW AND ARBITRATION” SECTION BELOW TO
    RESOLVE ANY DISPUTES WITH Guitar Tone Finder (EXCEPT FOR MATTERS THAT MAY BE TAKEN TO SMALL CLAIMS COURT). IF YOU DO
    NOT AGREE TO ANY SUCH CHANGES, DO NOT CONTINUE TO USE THE MARKETPLACE AND ASSOCIATED SERVICES.
</p>


<h1>Payment and currency disclaimer</h1>
<p>
    All payments are managed by a third party payment gateway, Stripe. (www.stripe.com) Stripe does not provide converting transactions
    prices, for example if you are in USA, and the seller specifies the price in EUR, it will not show the equivalent in
    USD. All transactions processed on Guitar Tone Finder will be charged to the customer in the equivalent amount in their
    host countries currency per the price. All currency conversions and their calculations through payment are made via stripe.
</p>